<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<div id="hero">
  <div id="cta">
    <h1 id="headline">30% OFF WATCHES</h1>
    <h5 id="subheadline">Sign in to shop. <br>New customer? Sign up!</h5>
    <br>

    <li class="waves-effect waves-light btn-large"><%= link_to 'SHOP NOW', products_path %></li>
    <a href="/users/sign_up"class="#757575 grey darken-1 btn-large">SIGN UP</a>
  </div>
</div>

<div class="row">
  <div id="homesection2" class="col s12">
    <h4>Best Selling Watches</h4> <br>
    <p>Select your band and watch face.</p>
    <img src='http://www.wearables.com/wp-content/uploads/2014/12/nevo-1.png'>
  </div>

  <div id="homesection3">
    <div id="left" class="col s6">
      <h3>Minimalist Watches</h3>
      <p>Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p><br>
      <li class="waves-effect waves-light btn-large"><%= link_to 'SHOP NOW', products_path %></li>

    </div>
    <div id="right" class="col s6">
      <img src="https://i1.wp.com/www.watchitallabout.com/wp-content/uploads/2016/05/c5-39-a-range.png?resize=840%2C840&ssl=1" alt="" height="500" width="500">
    </div>
  </div>

</div>

  <div class="parallax-container">

    <div id="subscribe" class="row">
     <form class="col s12">
       <div class="row">
         <h4 id="sub">Subscribe To Our Newsletter</h4>
         <div class="input-field col s6">
           <input id="icon_prefix" type="text" class="validate">
           <label class="formlabel" for="icon_prefix">First Name</label>
         </div>
         <div class="input-field col s6">
           <input id="icon_telephone" type="email" class="validate">
           <button id="submit" class="btn waves-effect waves-light" type="submit" name="action"><i class="">SUBSCRIBE</i></button>

           <label for="icon_telephone">Email</label>

         </div>
       </div>
     </form>
   </div>
  </div>





</body>
</html>
