<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<div id="hero">
  <div id="cta">
    <h1 id="headline">30% OFF <br>WATCHES</h1>
    <h5 id="subheadline">Sign in to shop. <br>New customer? Sign up!</h5>
    <br>

    <li class="waves-effect waves-light btn-large"><%= link_to 'SHOP NOW', products_path %></li>
    <a href="/users/sign_up"class="#757575 grey darken-1 btn-large">SIGN UP</a>
  </div>
</div>

<div class="row">
  <div id="homesection2" class="col s12">
    <h4>Best Selling Watches</h4> <br>
    <p>Select your band and watch face.</p>
    <img src='http://www.wearables.com/wp-content/uploads/2014/12/nevo-1.png'>
  </div>

  <div id="homesection3">
    <div id="left" class="col s6">
      <h3>Wyncode Watches</h3>
      <p>Lorem Ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p><br>
      <li class="waves-effect waves-light btn-large"><%= link_to 'SHOP NOW', products_path %></li>

    </div>
    <div id="right" class="col s6">
      <img src="https://i1.wp.com/www.watchitallabout.com/wp-content/uploads/2016/05/c5-39-a-range.png?resize=840%2C840&ssl=1" alt="" height="500" width="500">
    </div>
  </div>

</div>

  <div class="parallax-container">

    <div id="subscribe" class="row">
     <form class="col s12">
       <div class="row">
         <h4 id="sub">Subscribe To Our Newsletter</h4>
         <div class="input-field col s6">
           <input id="icon_prefix" type="text" class="validate">
           <label class="formlabel" for="icon_prefix">First Name</label>
         </div>
         <div class="input-field col s6">
           <input id="icon_telephone" type="email" class="validate">
           <button id="submit" class="btn waves-effect waves-light" type="submit" name="action"><i class="">SUBSCRIBE</i></button>

           <label for="icon_telephone">Email</label>

         </div>
       </div>
     </form>
   </div>
  </div>

  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div id="footer-right" class="col l4 s12">
                <h5 class="white-text">Follow Us</h5>
                <img src="http://www.freeiconspng.com/uploads/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png" alt="" height="60" width="60">
                <img src="http://www.thelayerfund.com/wp-content/uploads/2017/10/instagram-logo-for-business-card-business-cards-copy-printing-and-screen-printing-in-winston-ideas.png" alt="" height="58" width="58">
              </div>
              <div id="footer-left" class="col l4 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">SIGN IN</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">SHOP</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">MY CART</a></li>
                </ul>
              </div>
              <div id="footer-center" class="col l4 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>

          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright WynWatches
            <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
            </div>
          </div>
        </footer>



</body>
</html>
