<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<div id="hero">
  <div id="cta">
    <h1 id="headline">30% OFF WATCHES</h1>
    <h5 id="subheadline">Sign in to shop. <br>New customer? Sign up!</h5>
    <br>

    <li class="waves-effect waves-light btn-large"><%= link_to 'SHOP NOW', products_path %></li>
    <a class="#757575 grey darken-1 btn-large">SIGN UP</a>
  </div>
</div>

<div class="row">
  <div id="homesection2" class="col s12">
    <h4>Best Selling Watches</h4> <br>
    <img src='http://www.wearables.com/wp-content/uploads/2014/12/nevo-1.png'>
  </div>
  <!--
  <div class="col s6">6-columns (one-half)</div>
  <div class="col s6">6-columns (one-half)</div>
  -->
</div>





</body>
</html>
