@import "materialize";
/* --- NAVBAR STYLING --- */
a {
  color: #ffffff;
}
.nav-wrapper {
  display: inline;
}

#signup {
    margin-left: 7rem;
    width: 25%;
    position: relative;
    display: inline;
}

nav {
  background-color: #fff;
  height: 100px;
  padding-top: 1rem;
}

nav a {
  color: #222;
}

nav ul a:hover, nav ul a:active {
    color: #00AA9C!important;
    background-color: #fff;
}

.left {
  float: right!important;
  margin-right: 5rem;
}

nav .brand-logo.center {
  left: 3%;
  transform: none;
  float: left!important;
  position: relative;
  color: #222;
  font-family: 'Orbitron', sans-serif;

}

#nav-mobile > li > a {
  font-size: 18px;
  color: #222;
}
/* --- END OF NAVBAR STYLING --- */

/* --- HOME PAGE TOP SECTION STYLING --- */
#hero {
  height: 550px;
  width: 100%;
  padding-top: 1px;
  background-image: url('watch7.png');
}
#cta {
  width: 40%;
  padding: 5rem 6rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#headline, #subheadline {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

#subheadline {
  color: #787878;
  font-size: 22px;
}
/* --- END HOME PAGE TOP SECTION STYLING --- */


/* --- HOME PAGE SECTION 2 STYLING --- */

.row .col {
  float: none;
}

.row .col.s6 {
  height: 500px;
  padding-top: 4rem;
  position: relative;
  display: inline-block;
  width: 48%;
  margin-top: 5rem;
}

.row .col.s12 {
  padding-top: 6rem;
}

#homesection2 {
  margin: 0 auto;
  width: 952px;
  text-align: center;
  line-height: 0;
}
#homesection2 img {
  padding-top: 3rem;
}
#homesection2 p {
  color: #787878;
  font-size: 18px;
}

#homesection3 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}
#left {
  width: 45%;
  float: left;
  padding: 3rem;
  margin-top: 7rem;
}
#left p {
  color: #787878;
  font-size: 18px;
}
#right {
  padding: 0;
  float: right;
}


.parallax-container {
  height: 480px;
  background-image: url('https://ak0.picdn.net/shutterstock/videos/30449650/thumb/5.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-color: #000;
  padding: 0;
  color: #fff;
  // background-position: fixed;
}

#subscribe {
  width: 70%;
  float: left;
  padding: 0 0 0 5rem;
  font-weight: 700;
  font-size: 22px;
}
#sub {
  font-weight: 300;
}
#submit {
  float: right;
}
#icon_telephone, #icon_prefix {
  color: #fff;
}

// Showpage
.col.s12.m7 {
  float: left;
}

.card {
      width: 400px;
}

.card-content {
  margin-left: 7.5em;
}

.card-action {
  text-align: center;
}
