<div class="thankyou">
  <h2>Thanks, your order is on its way! Please allow 3-5 business days for shipping</h2>
  <br>
  <iframe src="https://giphy.com/embed/nXxOjZrbnbRxS" width="356" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/win-nXxOjZrbnbRxS"></a></p>
</div>


<style>

.thankyou {
  margin: 0 auto;
  height: 900px;
  width: 60%;
  border: 2px solid #ccc;
  text-align: center;
  padding: 3rem;

}



</style>
