<div class="thankyou">
  <h2>Thanks, your order is on its way! Please allow 3-5 business days for shipping</h2>
  <br>
  <img src="https://images.emojiterra.com/emojione/v2/512px/2705.png" alt="">
</div>


<style>

.thankyou {
  margin: 0 auto;
  height: 900px;
  width: 60%;
  border: 2px solid #ccc;
  text-align: center;
  padding: 3rem;

}



</style>
